<?xml version="1.0"?>
<config>
  <modules>
    <Rack_Jpmail>
      <version>0.1.6</version>
    </Rack_Jpmail>
  </modules>
  <global>
    <models>
      <jpmail>
        <class>Rack_Jpmail_Model</class>
      </jpmail>
      <core>
        <rewrite>
          <email_template>Rack_Jpmail_Model_Email_Template</email_template>
          <newsletter_template>Rack_Jpmail_Model_Newsletter_Template</newsletter_template>
        </rewrite>
      </core>
    </models>
    <helpers>
      <jpmail>
        <class>Rack_Jpmail_Helper</class>
      </jpmail>
    </helpers>
  </global>
  <adminhtml>
    <translate>
      <modules>
        <Rack_Jpmail>
          <files>
            <default>Rack_Jpmail.csv</default>
          </files>
        </Rack_Jpmail>
      </modules>
    </translate>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <jpmail>
                      <title>Multibyte email Setting</title>
                    </jpmail>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
    <system>
      <children>
        <config>
          <children>
            <jpmail>
              <title>Multibyte email Setting</title>
            </jpmail>
          </children>
        </config>
      </children>
    </system>
  </adminhtml>
  <default>
    <jpmail>
      <jpmail>
        <text_charset>utf-8</text_charset>
        <html_charset>utf-8</html_charset>
        <use_return_path>0</use_return_path>
        <use_reply_to>0</use_reply_to>
      </jpmail>
    </jpmail>
  </default>
</config>
