<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->
{{htmlescape var=$customer.name}}様

お客様のアカウントに対し、パスワード変更のリクエストが行われました。
お客様がパスワード変更のリクエストを出された場合は、下記のリンクをクリックしてパスワードをリセットしてください

{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}
(リンクをクリックしてもうまくページが開かない場合は、リンクをコピーしてブラウザのアドレス欄にペーストしてください。)

※このメールにお心当たりがない場合は、このメールを無視してください。

ありがとうございました。
{{var store.getFrontendName()}}
