<!--@subject ようこそ、{{var customer.name}}様! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->
{{htmlescape var=$customer.name}} 様

{{var store.getFrontendName()}} へようこそ。私どものサイトにログインしていただくには、
すべてのページの上部にある「ログイン」または「マイアカウント」をクリックし、メールアドレスとパスワードを入力してください。

ログイン画面が表示されたら、次の値を入力してください:

  メールアドレス: {{var customer.email}}
  パスワード: {{htmlescape var=$customer.password}}

ログインされますと以下の機能をご使用いただけます:

  ・購入する際、より簡単にご注文いただけます。
  ・ご注文の状況をいつでもご確認できます。
  ・過去のご注文履歴を見ることができます。
  ・アカウントの情報を変更することができます。
  ・パスワードを変更することができます。
  ・複数の住所を保存できます (複数の家族や友人に配送する場合に!)


アカウントに対するご質問やその他問題がありましたら、{{config path='trans_email/ident_support/email'}}、
または電話番号 {{config path='general/store_information/phone'}} まで、お気軽にお問い合わせください。

ありがとうございました。
{{var store.getFrontendName()}}