<!--@subject 新しいパスワード: {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
{{htmlescape var=$customer.name}} 様

新しいパスワードが発行されました。

あなたの新しいパスワード: {{htmlescape var=$customer.password}}


パスワードは下記のマイページからいつでも変更が可能です。

{{store url="adminhtml/system_account/"}}

ありがとうございました。
{{var store.getFrontendName()}}
